@font-face {
	font-family: 'NewBT Regular';
	src: local('?'), url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAQAQAABAAARkZUTVjp83oAAAEMAAAAHEdERUYBHAAEAAABKAAAACBPUy8ydHF0JQAAAUgAAABgY21hcAkUj+sAAAGoAAAB8mN2dCAP1A0rAAADnAAAAD5mcGdtD7QvpwAAA9wAAAJlZ2FzcAADAAcAAAZEAAAADGdseWaFTYAKAAAGUAAAlgRoZWFk+EUSEwAAnFQAAAA") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@media all {
	body {
		margin: 0 auto;
		font-family: Tahoma, Arial, Verdana;
		color: #333;
		font-size: 62.5%;
	}
	h1, h2, h3, h4, h5, .newBt {
		font-family: NewBT Regular, Tahoma, Arial, Verdana;
		font-weight: normal;
		letter-spacing: -0.02em;
		margin:0;
	}
	h1 {
		font-size: 2.4em;
		color: #666;
	}
	h2 {
		font-size: 2.4em;
		color: #112d45;
	}
	h3 {
		font-size: 1.8em;
		color: #00528e;
	}
	p {
		font-size: 1.4em;
		line-height: 1.4em;
		margin: 0 0 0.6em;
	}
	p.marginBottom15 {
		margin-bottom: 20px !important;
	}
	.main-content ul li {
		font-size: 1.1em;
		line-height: 1.4em;
	}
	img {
		border: none;
	}
	a:link,
	a:visited {
		text-decoration: none;
	}
	a:hover,
	a:active {
		text-decoration: underline;
	}
	.rightAligned {
		margin-left: 15px;
	}
}
@media print {
	#page {
		width: 100%;
		margin: 2.2cm 1.5cm;
	}
	* {
		position:static !important;
	}
	body {
		font-size: 9pt;
		line-height: 1.3em;
		position: relative;
	}
	h1, h2, h3 {
		page-break-after: avoid;
		clear: left;
		margin-bottom: 1em!important;
	}
	ul {
		list-style-position: inside;
		list-style-type: disc;
	}
	a, a:link {
		text-decoration: underline;
	}
	#sidebar,
	#SecNav,
	#BTGH09_PrimNav,
	.headPanel .inlineList {
		display: none;
	}
}
#page {
	margin: 0 auto;
	position: relative;
	width: 980px;
	text-align: center;
	z-index: 1;
}
#loading-container {
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	display:none;
}
#loading-container img {
	margin: 100px auto;
	width: 50px;
}
#dynamic-content-wrapper {
	border: 1px solid #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	text-align: left;
}
#content {
	background: #e6ecf0;
	padding: 18px;
}
.main-content:before, .main-content:after,
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.main-content:after,
.clearfix:after {
	clear: both;
}
.main-content,
.clearfix {
	zoom: 1;
}
#header {
	background: #e3e8ea;
	background: -moz-linear-gradient(top,  #e3e8ea 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e8ea), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e3e8ea 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e3e8ea 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e3e8ea 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e3e8ea 0%,#ffffff 100%);
	box-shadow: 0 0 5px #333333;
	overflow: hidden;
	position: relative;
	width: 980px;
	z-index: 2;
}
.logo {
	padding: 6px 7px 5px 15px;
}
.logo A {
	display: inline-block;
}
H1 {
	border-left: 1px solid #D5D5D5;
	color: #333333;
	font-family: 'NewBT Regular';
	font-size: 2.3em;
	line-height: 1em;
	margin: 0 0 0 3px;
	padding: 11px 0 11px 20px;
}
H2 {
	color: #666666;
	font-size: 3.8em;
	margin-bottom: 15px;
}
H2 SPAN {
	color: #333333;
}
H3 {
	color: #333333;
	font-size: 2.6em;
	margin-bottom: 20px;
}
H4 {
	color: #333333;
	font-size: 1.3em;
	margin-bottom: 15px;
}
P, LI {
	color: #666666;
}
.modules {
	background: #fff;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #eee;
	border-radius: 8px 8px 8px 8px;
	padding: 10px;
}
.modules.main-content {
	padding-bottom: 80px;
}
.modules.noPC-main {
	padding-bottom: 0;
}
.modules.noPC-main p {
	width: auto;
}
.ie7 .modules.noPC-main p {
	width:365px;
}
.pc-off-no,.pc-off-setup {
	min-height: 350px;
	position: relative;
	overflow: hidden;
}
.ie7 .pc-off-no,.ie7 .pc-off-setup {
	min-height: 380px;
}
.mobile-template .pc-off-no,.mobile-template .pc-off-setup {
	min-height: 0;
	float: none;
}
.pc-off-setup {
	width: 622px;
	margin-bottom: 10px;
}
.mobile-template .pc-off-setup {
	margin-bottom: 10px;
}
.pc-off-setup h2 {
	background: url('../images/tick.png') 0 3px no-repeat;
	padding-left: 60px;
}
.pc-off-setup .navigation {
	padding: 13px;
	min-height: 0;
}
.mobile-template .pc-off-setup .navigation form {
	padding: 13px;
}
.pc-off-content {
	padding: 10px;
}
.pc-off-setup .page-image {
	margin: -10px 0 0 0;
}
.mobile-template .pc-off-setup .page-image {
	margin: 0 0 0 10px;
	width: 70px;
	height: 78px;
}
.pc-off-no {
	background: #eeeeee;
	width: 280px;
	margin-left: 10px;
}
.mobile-template .pc-off-no {
	margin: 0 0 10px 0;
}
.pc-off-setup .navigation,.pc-off-no .button {
	position: absolute;
	bottom: 0;
}
.pc-off-no .button{
	padding: 8px 24px;
}
.ie7 .pc-off-setup .navigation {
	padding:23px 0 0 20px;
	left: 0;
}
.ie7 .navigation .button {
	width:338px;
	text-align: left;
}
.ie7 .pc-off-no .button {
	width:268px;
	text-align: left;
}
.mobile-template .pc-off-setup .navigation,.mobile-template .pc-off-no .button {
	position: relative;
}
.mobile-template .button {
	padding: 10px 20px;
	white-space: normal;
}
.pc-off-no .button {
	bottom: 10px;
}
.mobile-template .pc-off-no .button {
	margin-top: 20px;
}
.modules P {
	width: 550px;
}
.ie7 .modules P {
	width: 520px;
	float: left;
}
P.unavailable {
	background: #f7e9cd;
	padding: 15px 10px;
	width: 500px;
	display: inline-block;
}
#content .modules p.intro, p.intro {
	margin-bottom: 20px;
}
#content .modules p.last, p.last {
	margin-bottom: 0px;
}
.modules UL,.modules OL {
	color: #333333;
	font-size: 1.3em;
	margin-left: 17px;
	padding-top: 10px;
}
.modules UL LI,.modules OL LI {
	padding-bottom: 10px;
}
.modules .installtion-steps {
	list-style: none;
	margin: 0 0 20px 0;
}
.installtion-steps P {
	font-size: 1em;
	width: auto;
}
.modules .installtion-steps LI {
	background: #EEEEEE;
	display: inline-block;
	margin-right: 1px;
	min-height: 110px;
	padding: 15px;
	width: 199px;
}
.controlForm {
	padding-top: 5px;
}
.controlForm p {
	padding-bottom: 10px;
}
.controlForm #controlYes,
.controlForm #controlNo {
	margin: 0 10px;
}
.controlForm label {
	color: #666;
	font-size: 1em;
	font-weight: bold;
}
#controlInfo h3 {
	margin-bottom: 10px;
	font-size: 2.2em;
}
#fixed-content {
	bottom: 22px;
	left: 22px;
	right: 22px;
	position: absolute;
	text-align: left;
}
.pcPage #fixed-content {
	display:none;
}
#call-to-actions {
	margin-bottom: 30px;
	margin-left: 10px;
}
.modules .breadcrumbs {
	background: #eeeeee;
	margin: 0 0 10px 0;
	list-style: none;
	color: #666666;
	border: solid 2px #ccdded;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.modules .breadcrumbs li {
	padding: 15px 0 5px 0;
	font-size: 1.1em;
	width: 33%;
	border-right: solid 1px white;
}
.modules .twoSteps li {
	width: 49%;
}
.modules .breadcrumbs li.last {
	border-right:  none;
} 
.modules .breadcrumbs li.current {
	background: white; color: #333;
}
.modules .breadcrumbs li.stepFirst {
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
.main-content .sub-header {
	color: #666666;
	margin: 10px 0;
	font-size: 2.3em;
}
.main-content ul {
	margin-top: 0;
	padding-top: 0;
	width: 485px;
}
.ie7 .main-content ul {
	width: 375px;
}
.mobile-template .main-content ul {
	width: auto;
}
.modules .breadcrumbs li span {
	position:  relative;
	top: -4px;
	float:  left;
	font-family: 'NewBT Regular';
	font-size: 2.8em;
	padding: 0 20px 0 60px;
}
.modules .breadcrumbs li span.text {
	font-size: 1em;
	position: static;
	font-family: tahoma;
}
.controlsYes {
	margin-top: 20px;
}
.navigation {
	-webkit-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	min-height: 58px;
	background: #eeeeee;
}
.navigation UL {
	padding: 12px;	
	list-style: none; 
}		
.navigation UL LI { 
	margin-right: 15px; float:  left;
}
.button {
	font-family: 'NewBT Regular';
	font-size: 15px;
	font-weight:  bold;
	display: inline-block;
	padding: 8px 30px;
	margin:  0;	
	cursor: pointer;
	border: solid 1px silver;
	-webkit-border-radius: 4px;    
	border-radius: 4px;	
	white-space: normal;
}
.button:hover {
	text-decoration:  underline;
}
.silverButton {
	color: #005293;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%);	
}
.blueButton {	
	border-color: #004474;
	color: white;
	text-shadow: 0px -1px 0px #000000;
	-webkit-box-shadow: inset 0px 1px 0px 0px #419ecc;       
	box-shadow: inset 0px 1px 0px 0px #419ecc;
	background: #037ab9;
	background: -moz-linear-gradient(top, #037ab9 0%, #33357d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#037ab9), color-stop(100%,#33357d));
	background: -webkit-linear-gradient(top, #037ab9 0%,#33357d 100%);
	background: -o-linear-gradient(top, #037ab9 0%,#33357d 100%);
	background: -ms-linear-gradient(top, #037ab9 0%,#33357d 100%);
	background: linear-gradient(to bottom, #037ab9 0%,#33357d 100%);
}
.clear-submit {
	filter: none;
	background: url("../images/blue-chervon-small.png") no-repeat scroll right 14px #FFFFFF;
	border: medium none;
	color: #005393;
	font-size: 1.4em;
	padding: 12px 10px 10px 11px;
	width: auto;
}
.admin-link {
	position: absolute;
	bottom: 5px;
	right: 5px;
	color: #eee;
}
.page-image {
	margin-right: -11px;
}
.mobile-template P.unavailable {
	width: 98%;
	padding: 1%
}
.mobile-template #call-to-actions {
	padding: 0 18px;
}
.mobile-template .modules .breadcrumbs li {
	text-align: center;
}
.mobile-template .modules .breadcrumbs li span {
	float: none;
}
.whiteLink a,.whiteLinkButton {
	cursor: pointer;
	background: none;

}
.whiteLink a {
	width: 30px;
	height: 25px;
}
.whiteLinkButton {
	border: none;
	padding: 3px 17px;		
}
.leftAligned,.modules .breadcrumbs li,.modules .installtion-steps LI,.pc-off-no,.pc-off-setup,H1,.logo {float:left;}
.rightAligned,.whiteLink,.page-image{float:right;}
.mobile-template .modules .breadcrumbs li span,ul,ol,#header,.modules .breadcrumbs li span.text,.modules .breadcrumbs,.mobile-template .pc-off-setup .navigation,.pc-off-no,.pc-off-setup{padding:0;}
.navigation UL,.modules .breadcrumbs li,#content,#loading-container {margin:0;}
.mobile-template #page,.mobile-template #header,.mobile-template .modules P,#loading-container,.mobile-template .pc-off-setup,.pc-off-setup .navigation,.mobile-template .pc-off-no,.mobile-template .button {width:100%;}
.hide,.mobile-template .modules .breadcrumbs li span.text,#controlInfo .hidden{display:none;}
.show,#loading-container img,.whiteLink a,.modules .breadcrumbs li span,H1,.mobile-template .pc-off-setup .page-image,.modules .breadcrumbs li{display:block;}
.mobile-template .step0button { width: auto; };
